@media print {
    body {
        visibility: hidden; /* Menyembunyikan seluruh halaman saat pencetakan */
    }
}

body {
    user-select: none; /* Menonaktifkan seleksi teks */
}

body::after {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgba(255, 0, 0, 0.5);
    pointer-events: none; /* Agar tidak mengganggu klik */
    z-index: 9999;
}

.watermark {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgba(255, 0, 0, 0.3);
    pointer-events: none;
    z-index: 1000;
}
