@{
    ViewBag.menu = "IKB";
    ViewBag.Title = "Identitas Kendaraan Bermotor";
    ViewBag.submenu = "IKB_List";
}

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th>CO Number</th>
                                <th>Co Line</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Qty Shipped</th>
                                <th>UM</th>
                                <th>Order Date</th>
                                <th>Ship Date</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Theme/vendor/datatables/dataTables.dateTime.min.js"></script>

    <script src="~/Theme/vendor/jquery/jquery-ui.js"></script>

    <script type="text/javascript">
        function bindDatatable() {
            datatable = $('#dataTable')
                .DataTable({
                    "sAjaxSource": '@Url.Action("GetData", "IKB")',
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "language": {
                        "emptyTable": "No record found.",
                        "processing":
                            '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                    },
                    "columns": [
                        {
                            "data": "co_num",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "co_line",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "item",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "description",
                            "autoWidth": true,
                            "searchable": true
                        }, {
                            "data": "qty_shipped",
                            "autoWidth": true,
                            "searchable": true
                        }, {
                            "data": "u_m",
                            "autoWidth": true,
                            "searchable": true
                        }, {
                            "data": "order_date",
                            "autoWidth": true,
                            "searchable": true,
                            "render": function (value) {
                                if (value === null) return "";

                                var pattern = /Date\(([^)]+)\)/;
                                var results = pattern.exec(value);
                                var dt = new Date(parseFloat(results[1]));

                                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" +  dt.getFullYear();
                            },
                        }, {
                            "data": "ship_date",
                            "autoWidth": true,
                            "searchable": true,
                            "render": function (value) {
                                if (value === null) return "";

                                var pattern = /Date\(([^)]+)\)/;
                                var results = pattern.exec(value);
                                var dt = new Date(parseFloat(results[1]));

                                return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                            },
                        },
                        {
                            data: "co_num", render: function (data, type, row) {
                                return '<a href="@Url.Action("GenerateIKB", "IKB")?co_num=' + row.co_num + '&co_line=' + row.co_line + '" class="btn btn-primary btn-user btn-block">Generate</a>';
                            }
                        },
                    ],

                });
        }
        $(document).ready(function () {
            bindDatatable();

        });
    </script>
}
